.profile-edit-material {
  .edit-material {
    h1 {
      margin-bottom: 30px;
    }

    .material-item {
      display: flex;
      margin-bottom: 20px;

      span {
        margin-right: 20px;
      }
    }

    .inventory-item {
      display: flex;
      margin-bottom: 20px;

      span {
        margin-right: 20px;
      }
    }
  }
}
