.salary-list {
  .title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width:900px){
      display:block;
    }

    &__text{
      color:rgb(0, 153, 255);
    }
  }

  .item_list {
    padding:0 15px;
    
    .salary-item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px #d2d2d2 solid;
      border-radius: 5px;

      @media (max-width:900px){
        display:block;
      }

      &__name {
        width: 20%;
        font-size: 18px;
        font-weight: 600;

        span {
          display: block;
          font-size: 14px;
        }

        @media (max-width:900px){
          width:100%;
        }
      }

      &__salary {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width:900px){
          width:100%;
        }
      }

      &__avans {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width:900px){
          width:100%;
        }
      }

      &__result {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width:900px){
          width:100%;
        }
      }

      .button-avans {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width:900px){
          width:100%;
        }

        button {
          height: 30px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
      }

      .button-salary {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width:900px){
          width:100%;
          margin-top:10px;
        }

        button {
          height: 30px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;

    .title__total_salary {
      span + span {
        margin-left: 35px;
      }
    }
  }
}
