.object-list {
  margin-bottom: 30px;
  &__title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color:rgb(0, 153, 255);
    
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding:0 15px;

    @media (max-width:1228px) {
      display:block; 
    }

    .object_item {
      padding: 15px;
      border: 1px #d2d2d2 solid;
      border-radius: 5px;
      max-width: 49%;
      width: 49%;
      margin-bottom: 10px;

      @media (max-width:1228px) {
        width:100%;
        max-width: 100%;
      }

      .buttons-group{
        button {
          margin-right:10px;
        }

        @media (max-width:690px) {
          margin-top:10px;

          button {
            margin-top:10px;
          }
        }
      }

      &__title {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;

        @media (max-width:690px) {
          display:block;
        }

        span {
          font-size: 18px;
          font-weight: 600;
        }

        .close-object {
          border-radius: 5px;
          outline: none;
          border: 1px #d2d2d2 solid;
          cursor: pointer;
          color: #1599c5;

          span {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .close-object:hover{
          background-color:#0099ff;
          color:#ffff;
        }
      }

      &__description {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;

        span{
          color:black;
          font-weight: 600;
        }
      }

      &__workers {
        .workers-list {
          span {
            font-size: 16px;
            font-weight: 600;
          }

          ul {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            li {
              margin-right: 10px;
              font-size: 16px;
              font-weight: 600;
              padding: 5px 15px;
              border: 1px #d2d2d2 solid;
              border-radius: 5px;
              cursor: pointer;
              color:#0099ff;
            }

            li:nth-child(1) {
              color:red;
            }

            li:hover {
              background-color: rgb(0, 153, 255, 0.1);
            }
          }
        }
      }

      .object_work-detail {
        span {
          font-size: 16px;
          font-weight: 600;
        }

        &__description {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          color:black;

          span{
            color:#1599c5;
          }
        }

        &__price {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .object_avans {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
      }

      .object_price {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
