.loader {
  margin: 55px auto 55px auto;
  z-index: 3;
  transform: translate(-50%, -50%);
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #288a53;
  border-bottom: 12px solid #ffc11f;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
