@import '~antd/dist/antd.css';

.edit-object-container {
  max-width: 100%;
  width: 100%;
  max-height: 100%;

  @media (max-width: 1228px) {
    top: 70%;
    padding: 0 15px;
  }

  .submit-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;

    @media (max-width: 578px) {
      justify-content: center;
    }
  }

  .object-form {
    padding-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;

    .object-submit-btn {
      margin-right: 15px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #0099ff;
  }

  .add-inputs {
    max-width: 600px;
    width: 100%;

    .select-materials {
      width: 300px;

      @media (max-width: 780px) {
        width: 200px;
      }

      @media (max-width: 578px) {
        width: 300px;
      }

      @media (max-width: 480px) {
        width: 200px;
      }

      @media (max-width: 370px) {
        width: 155px;
      }
    }

    @media (max-width: 578px) {
      max-width: 100%;
      width: 100%;
    }

    > div {
      width: 300px;
      margin-left: 200px;
      margin-bottom: 20px;

      @media (max-width: 578px) {
        width: 100%;
        margin: 10px auto;
      }
    }
  }
}
