.waiting-object-list {
    margin-bottom: 30px;
    &__title {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border-bottom: 2px grey solid;
      font-size: 18px;
      font-weight: 500;
      color:rgb(0, 153, 255);
      
    }
  
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
  
      .waiting-object_item {
        padding: 15px;
        border: 2px grey solid;
        border-radius: 5px;
        max-width: 49%;
        width: 49%;
        margin-bottom: 10px;
  
        &__title {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
  
          span {
            font-size: 18px;
            font-weight: 600;
          }
  
          .close-object {
            font-size: 16px;
            font-weight: 600;
            border-radius: 5px;
            outline: none;
            border: 1px black solid;
            cursor: pointer;
            color: black;
            background-color: aqua;
            transition: 0.3s;
          }
  
          .close-object:hover {
            background-color: red;
            color: white;
          }
        }
  
        &__description {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 10px;
        }
  
        &__workers {
          .workers-list {
            span {
              font-size: 16px;
              font-weight: 600;
            }
  
            ul {
              margin-top: 10px;
              margin-bottom: 10px;
              display: flex;
              li {
                margin-right: 10px;
                font-size: 16px;
                font-weight: 600;
                padding: 5px;
                border: 1px black solid;
                border-radius: 5px;
                cursor: pointer;
              }
  
              li:hover {
                background-color: aqua;
              }
            }
          }
        }
  
        .waiting-object_work-detail {
          span {
            font-size: 16px;
            font-weight: 600;
          }
  
          &__description {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
          }
  
          &__price {
            font-size: 16px;
            font-weight: 600;
          }
        }
  
        .waiting-object_avans {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 600;
        }
  
        .waiting-object_price {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
  