.werehouse-list {
  margin-bottom: 30px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: rgb(0, 153, 255);

    span {
      font-size: 18px;
      font-weight: 500;
    }

    .add-material {
      border-radius: 5px;
      outline: none;
      border: 1px #d2d2d2 solid;
      cursor: pointer;
      color: black;

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .werehouse-list__items {
    padding: 0 15px;

    .werehouse-item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px #d2d2d2 solid;
      border-radius: 5px;

      @media (max-width: 1228px) {
        display: block;
      }

      &__name {
        width: 20%;
        font-size: 18px;
        font-weight: 600;

        span {
          display: block;
          font-size: 14px;
        }

        @media (max-width: 1228px) {
          width: 100%;
        }
      }

      &__quantity {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 1228px) {
          width: 100%;
        }
      }

      &__sell-price {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 1228px) {
          width: 100%;
        }
      }

      &__buy-price {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;

        @media (max-width: 1228px) {
          width: 100%;
        }
      }

      .button-edit-werehouse {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 1228px) {
          width: 100%;
        }

        button {
          height: 30px;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
      }

      .button-delete-werehouse {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 1228px) {
          width: 100%;
        }

        button {
          height: 30px;
          cursor: pointer;

          @media (max-width: 1228px) {
            margin-top: 10px;
          }

          span {
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
  }
}
