.inventory-list {
  .title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px grey solid;
    font-size: 18px;
    font-weight: 500;

    .add-button {
      padding: 5px;
      height: 30px;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .item_list {
    .inventory-item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px black solid;
      border-radius: 5px;

      &__name {
        width: 20%;
        font-size: 18px;
        font-weight: 600;
        span {
          display: block;
          font-size: 14px;
        }
      }

      &__quantity {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }

      &__price {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }

      .button-edit-inventory {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          padding: 5px;
          height: 30px;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
      }

      .button-delete-inventory {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          padding: 5px;
          height: 30px;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
