.werehouse-list {
  margin-bottom: 30px;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px grey solid;

    span {
      font-size: 18px;
      font-weight: 500;
    }

    .add-material {
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      outline: none;
      border: 1px black solid;
      cursor: pointer;
      color: black;
      background-color: aqua;
      transition: 0.3s;
    }
  }

  .werehouse-list__items {
    .werehouse-item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      border: 1px black solid;
      border-radius: 5px;

      &__name {
        width: 20%;
        font-size: 18px;
        font-weight: 600;
        span {
          display: block;
          font-size: 14px;
        }
      }

      &__quantity {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }

      &__sell-price {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }

      &__buy-price {
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
      }

      .button-edit-werehouse {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          padding: 5px;
          height: 30px;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
      }

      .button-delete-werehouse {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button {
          padding: 5px;
          height: 30px;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
